$primary-normal: #06121E;
$primary-dark: #040F1A;
$primary-light: #0C2135;

$secundary-normal: #090D11;
$secundary-dark: #06090C;
$secundary-light: #1A1F25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #FFF;
$white-dark: #EDEAEF;
$white-light: #FEFBFF;

$red-normal: #D94140;
$red-dark: #B42B2B;
$red-light: #D34040;